services:
  - type: web
    name: conversational-data-analyst
    runtime: docker
    region: singapore
    plan: free
    branch: main
    dockerfilePath: ./Dockerfile
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: GROQ_API_KEY
        sync: false
    healthCheckPath: /health
